doctype html
html.no-js(lang="pl-PL")
    - var pageTitle = 'Strona główna'
    include pug/partials/_head
    body
        main
            h1 H1
            h2 h2
            h3 h3
            h4 h4
            h5 h5
            h6 h6
            p paragraph
            include pug/sections/_section-carousel